parameters:
    level: 8
    ignoreErrors:
        -
            identifier: missingType.generics
        -
            identifier: filesystemcall.unsafe
    treatPhpDocTypesAsCertain: false
    paths:
        - src
        - tests
