name: CI

on:
    pull_request: ~

jobs:
    cs:
        name: Coding Style
        runs-on: ubuntu-latest
        steps:
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.4'
                  coverage: none

            - name: Checkout
              uses: actions/checkout@v3

            - name: Install the dependencies
              run: composer update --no-interaction --no-suggest

            - name: Run the CS fixer
              run: composer ci-cs-fixer

    phpstan:
        name: PHPStan
        runs-on: ubuntu-latest
        steps:
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.4'
                  coverage: none

            - name: Checkout
              uses: actions/checkout@v3

            - name: Install the dependencies
              run: composer update --no-interaction --no-suggest

            - name: Run PHPStan
              run: composer phpstan

    tests:
        name: 'PHP ${{ matrix.php }} with SQLite ${{ matrix.sqlite }} (Composer Flags: ${{ matrix.composer }})'
        runs-on: ubuntu-latest
        # Share the bash between the steps:
        defaults:
            run:
                shell: bash -l {0}
        strategy:
            fail-fast: false
            matrix:
                sqlite: ['3.35.0', 'default']
                php: ['8.3', '8.4']
                composer: ['--prefer-stable', '--prefer-lowest']
        steps:
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  coverage: none

            - name: Checkout
              uses: actions/checkout@v3

            - name: Install lowest supported SQLite version "${{ matrix.sqlite }}"
              if: ${{ matrix.sqlite == '3.16.0' }}
              run: |
                  cd ~
                  # SQLite 3.16.0
                  wget https://sqlite.org/2017/sqlite-autoconf-3160000.tar.gz
                  tar zxvf sqlite-autoconf-3160000.tar.gz
                  cd sqlite-autoconf-3160000
                  # CFLAGS="-O2 -DSQLITE_ENABLE_COLUMN_METADATA=1" ./configure --prefix=$HOME/opt/sqlite
                  make
                  make install
                  echo "export PATH=$HOME/opt/sqlite/bin:$PATH" >> ~/.bash_profile
                  echo "export LD_LIBRARY_PATH=$HOME/opt/sqlite/lib:$LD_LIBRARY_PATH" >> ~/.bash_profile
                  echo "export LD_RUN_PATH=$HOME/opt/sqlite/lib:$LD_RUN_PATH" >> ~/.bash_profile
                  source ~/.bash_profile

            - name: Install the dependencies
              run: composer update --no-interaction ${{ matrix.composer }}

            - name: Run the unit tests
              run: composer unit-tests

            - name: Run the functional tests
              run: composer functional-tests

            # Run the slow tests with a maximum of 5 minutes which should be enough to complete.
            - name: Run the slow tests
              timeout-minutes: 5
              env:
                  LOUPE_OUTPUT_WORKER_LOG: worker.log
              run: php vendor/bin/phpunit --testsuite=slow --debug

            - name: Output worker.log on failure
              if: ${{ failure() }}
              run: cat worker.log